# Copyright 2021 The TensorFlow Authors. All Rights Reserved.
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
# ==============================================================================
#
# TFLM Bazel configuration file.

# The semver-format version label embedded in build outputs when and where
# stamping is used. Note TFLM does not currently publish semver-versioned
# releases; however, this value is used where a version label is required, such
# as in the Python distribution package.
build --embed_label=0

# Get stamp values from a script's output
build --workspace_status_command=./tools/workspace_status.sh

# TODO(b/315853820): Needed for Bazel 7.0, until migrated to bzlmod
build --noenable_bzlmod

# Automatically enable the config matching the host OS
common --enable_platform_specific_config

# Use the following C++ standard
build:linux --cxxopt=-std=c++17
build:macos --cxxopt=-std=c++17
build:windows --cxxopt=/std:c++17
build:windows --experimental_strict_action_env
build:windows --features=compiler_param_file

# Common options for CI
build:_ci_base --curses=no
build:_ci_base --color=no
build:_ci_base --noshow_progress
build:_ci_base --noshow_loading_progress
build:_ci_base --show_timestamps
build:_ci_base --terminal_columns=0
build:_ci_base --verbose_failures
build:_ci_base --test_output=errors
build:_ci_base --keep_going

build:ci --config=_ci_base
build:ci --action_env=CC=clang
build:ci --action_env=CXX=clang++

# Windows CI options
build:windows_ci --config=_ci_base
build:windows_ci --config=windows

# Common options for sanitizers
build:_sanitizer_base --action_env=CC=clang
build:_sanitizer_base --action_env=CXX=clang++
build:_sanitizer_base --strip=never
build:_sanitizer_base --copt=-g
build:_sanitizer_base --copt=-O3
build:_sanitizer_base --copt=-fno-omit-frame-pointer

# When building with the address sanitizer
# E.g., bazel build --config asan
build:asan --config=_sanitizer_base
build:asan --copt=-fsanitize=address
build:asan --copt=-DADDRESS_SANITIZER
build:asan --linkopt=-fsanitize=address

# When building with the memory sanitizer
# E.g., bazel build --config msan
build:msan --config=_sanitizer_base
build:msan --copt=-fsanitize=memory
build:msan --copt=-DADDRESS_SANITIZER
build:msan --linkopt=-fsanitize=memory

# When building with the undefined behavior sanitizer
# E.g., bazel build --config ubsan
build:ubsan --config=_sanitizer_base
build:ubsan --copt=-fsanitize=undefined
build:ubsan --linkopt=-fsanitize=undefined
build:ubsan --linkopt=-lubsan

# Hooks for defining local configuration
try-import ../bazelrc.local
try-import bazelrc.local
