*.junit
**/__pycache__
CMSIS/Documentation/html
CMSIS/Documentation/Doxygen/**/*.dxy
CMSIS/Core/Test/*.o
CMSIS/Core/Test/*.xunit
CMSIS/Core/Test/.lit_test_times.txt
CMSIS/CoreValidation/Project/*.zip
CMSIS/CoreValidation/Project/*.junit
CMSIS/CoreValidation/Project/*.clangd
CMSIS/CoreValidation/Project/Validation.*/
CMSIS/CoreValidation/Project/Bootloader.*/
CMSIS/CoreValidation/Project/build
CMSIS/CoreValidation/Project/RTE/_**/*
*.cbuild-idx.yml
*.uvguix.*
*.uvmpw.uvgui.*
*.zip
*.bak
build
output
linkchecker-out.csv
.DS_STORE
*.tmp
