name: Check Bug ID

on:
  pull_request_target:
    types:
      - opened
      - edited
      - reopened
      - synchronize

jobs:
  check-bug-id:
    runs-on: ubuntu-latest
    name: Check for BUG=
    steps:
      - name: Check for BUG=
        if: ${{ !contains(github.event.pull_request.body, 'BUG=') }}
        run: |
          echo "PR description requires a BUG= line with issue number."
          echo "See https://testing.googleblog.com/2017/09/code-health-providing-context-with.html for additional context"
          exit 1
