# YAML schema for GitHub Actions:
# https://help.github.com/en/actions/automating-your-workflow-with-github-actions/workflow-syntax-for-github-actions
#
# Helpful YAML parser to clarify YAML syntax:
# https://yaml-online-parser.appspot.com/
#
#
# This file contains jobs that are run prior to merging a pull request.
#
# This file can not be run stand-alone. It is called from tests_entry.yml as part of
# the ci automation or from run-ci.yml for scheduled or dispatch triggering.

name: CI

on:
  # Allow manually triggering of the workflow.
  workflow_dispatch: {}

  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  bazel_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Bazel (presubmit)
            script: test_bazel.sh
          - name: Bazel with Compression (presubmit)
            script: test_bazel_with_compression.sh
          - name: Bazel msan (presubmit)
            script: test_bazel_msan.sh
            needs-mmap-rnd: true
          - name: Bazel with Compression [msan] (presubmit)
            script: test_bazel_with_compression_msan.sh
            needs-mmap-rnd: true
          - name: Bazel asan (presubmit)
            script: test_bazel_asan.sh
            needs-mmap-rnd: true
          - name: Bazel with Compression [asan] (presubmit)
            script: test_bazel_with_compression_asan.sh
            needs-mmap-rnd: true

    name: ${{ matrix.name }}
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          docker-images: true
          large-packages: false
          tool-cache: false
          swap-storage: false
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Install dependencies
        run: |
          sudo ci/install_bazelisk.sh
          pip3 install Pillow
          pip3 install numpy
      - name: Fix kernel mmap rnd bits
        if: ${{ matrix.needs-mmap-rnd }}
        # Asan in llvm 14 provided in ubuntu 22.04 is incompatible with
        # high-entropy ASLR in much newer kernels that GitHub runners are
        # using leading to random crashes: https://reviews.llvm.org/D148280
        run: sudo sysctl vm.mmap_rnd_bits=28
      - name: Test
        run: |
          tensorflow/lite/micro/tools/ci_build/${{ matrix.script }}

  cortex_m_bluepill:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Cortex-M Bluepill Release (presubmit)
            script: test_bluepill_release.sh
          - name: Cortex-M Bluepill No Release (presubmit)
            script: test_bluepill_no_release.sh
          - name: Cortex-M Bluepill Renode (presubmit)
            script: test_bluepill_renode.sh

    name: ${{ matrix.name }}
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Install dependencies
        run: |
          pip3 install Pillow
          pip3 install numpy
      - name: Test
        run: |
          cd ../
          tflite-micro/tensorflow/lite/micro/tools/ci_build/${{ matrix.script }} tflite-micro/

  cortex_m_qemu:
    runs-on: ubuntu-latest

    name: Cortex-M QEMU Unit Tests (presubmit)
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Test
        uses: docker://ghcr.io/tflm-bot/tflm-ci:0.6.5
        with:
          args: /bin/sh -c tensorflow/lite/micro/tools/ci_build/test_cortex_m_qemu.sh tflite-micro/

  check_code_style:
    runs-on: ubuntu-latest

    name: Code Style (presubmit)
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Check
        uses: docker://ghcr.io/tflm-bot/tflm-ci:0.6.5
        with:
          args: /bin/sh -c "git config --global --add safe.directory /github/workspace && tensorflow/lite/micro/tools/ci_build/test_code_style.sh"

  project_generation:
    runs-on: ubuntu-latest

    name: Project Generation (presubmit)
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Install dependencies
        run: |
          pip3 install Pillow
          pip3 install numpy
      - name: Test
        run: |
          cd ../
          tflite-micro/tensorflow/lite/micro/tools/ci_build/test_project_generation.sh tflite-micro/

  x86_makefile_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Makefile x86 Release (presubmit)
            script: test_x86_release.sh
          - name: Makefile x86 Default (presubmit)
            script: test_x86_default.sh
          - name: Makefile x86 with Compression (presubmit)
            script: test_x86_default_with_compression.sh
          - name: Makefile x86 Out Of Tree (presubmit)
            script: test_x86_out_of_tree.sh
          - name: Makefile x86 No TFLite Static Memory (presubmit)
            script: test_x86_no_tflite_static_memory.sh

    name: ${{ matrix.name }}
    steps:
      - uses: actions/setup-python@v6
        with:
          python-version: '3.10'
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Install dependencies
        run: |
          pip3 install Pillow
          pip3 install numpy
      - name: Test
        run: |
          tensorflow/lite/micro/tools/ci_build/test_makefile.sh
          cd ../
          tflite-micro/tensorflow/lite/micro/tools/ci_build/${{ matrix.script }} tflite-micro/