name: Merge Queue

# Entry point for GitHub Merge Queue. Runs all tests before merging.

on:
  merge_group:

jobs:
  call-core:
    uses: ./.github/workflows/suite_core.yml
    with:
      trigger-sha: ${{ github.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-hexagon:
    uses: ./.github/workflows/suite_hexagon.yml
    with:
      trigger-sha: ${{ github.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa:
    uses: ./.github/workflows/suite_xtensa.yml
    with:
      trigger-sha: ${{ github.sha }}
      scope: 'all'
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-cortex-m:
    uses: ./.github/workflows/suite_cortex_m.yml
    with:
      trigger-sha: ${{ github.sha }}
      scope: 'all'
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-riscv:
    uses: ./.github/workflows/suite_riscv.yml
    with:
      trigger-sha: ${{ github.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  tests-passed:
    needs: [call-core, call-hexagon, call-xtensa, call-cortex-m, call-riscv]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more dependent jobs failed."
            exit 1
          fi
          exit 0