# Entry point for the standard test suite.
# Triggered by 'ci:ready' label or synchronize events on PRs with 'ci:ready'.
# Runs core/standard checks.

name: PR - Ready

on:
  pull_request_target:
    types:
      - synchronize
      - labeled

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    outputs:
      should_run: ${{ steps.check-condition.outputs.should_run }}
    steps:
      - name: check-condition
        id: check-condition
        run: |
          RUN="false"
          # Case 1: Just labeled 'ci:ready'
          if [[ "${{ github.event.action }}" == "labeled" && "${{ github.event.label.name }}" == "ci:ready" ]]; then
            RUN="true"
          fi
          # Case 2: Synchronize event AND 'ci:ready' is present
          if [[ "${{ github.event.action }}" == "synchronize" && "${{ contains(github.event.pull_request.labels.*.name, 'ci:ready') }}" == "true" ]]; then
            RUN="true"
          fi
          echo "should_run=$RUN" >> $GITHUB_OUTPUT

  call-core:
    needs: gatekeeper
    if: needs.gatekeeper.outputs.should_run == 'true'
    uses: ./.github/workflows/suite_core.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-check-tflite-files:
    needs: gatekeeper
    if: needs.gatekeeper.outputs.should_run == 'true'
    uses: ./.github/workflows/check_tflite_files.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
      pr-number: ${{ github.event.pull_request.number }}
      pr-body: ${{ github.event.pull_request.body }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-cortex-m:
    needs: gatekeeper
    if: needs.gatekeeper.outputs.should_run == 'true'
    uses: ./.github/workflows/suite_cortex_m.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
      scope: 'basic'
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-hexagon:
    needs: gatekeeper
    if: needs.gatekeeper.outputs.should_run == 'true'
    uses: ./.github/workflows/suite_hexagon.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa:
    needs: gatekeeper
    if: needs.gatekeeper.outputs.should_run == 'true'
    uses: ./.github/workflows/suite_xtensa.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
      scope: 'basic'
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  tests-passed:
    needs: [gatekeeper, call-core, call-check-tflite-files, call-cortex-m, call-hexagon, call-xtensa]
    if: always()
    runs-on: ubuntu-latest
    steps:
      - run: |
          if [[ "${{ contains(needs.*.result, 'failure') }}" == "true" || "${{ contains(needs.*.result, 'cancelled') }}" == "true" ]]; then
            echo "One or more dependent jobs failed."
            exit 1
          fi
          exit 0