name: Suite - RISC-V

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string
    secrets:
      tflm-bot-token:
        required: true

jobs:
  riscv_tests:
    runs-on: ubuntu-latest
    name: RISC-V Tests
    steps:
    - uses: actions/setup-python@v6
      with:
        python-version: '3.10'
    - uses: actions/checkout@v6
      with:
        ref: ${{ inputs.trigger-sha }}
    - name: Test
      uses: docker://ghcr.io/tflm-bot/tflm-ci:0.6.5
      with:
        args: /bin/sh -c tensorflow/lite/micro/tools/ci_build/test_riscv.sh