name: Suite - Xtensa

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string
      scope:
        description: 'Scope of tests to run (basic or all)'
        required: false
        type: string
        default: 'all'
    secrets:
      tflm-bot-token:
        required: true

jobs:
  # --- Basic Jobs ---

  vision_p6_basic:
    if: inputs.scope == 'basic' || inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Vision P6 Build
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Vision P6 Build
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2020.4-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_13:0.3 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_vision_p6.sh RUN_NO_TESTS tflite-micro/

  hifi5_unit_tests:
    if: inputs.scope == 'basic' || inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Hifi5 Unit Tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Hifi5 Unit Tests
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2022.9-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_hifi5:0.2 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_hifi5.sh tflite-micro/

  hifi5_unit_tests_with_compression:
    if: inputs.scope == 'basic' || inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Hifi5 Unit Tests with Compression
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Hifi5 Unit Tests with Compression
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2022.9-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_hifi5:0.2 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_hifi5_with_compression.sh tflite-micro/

  hifi_3z_unit_tests:
    if: inputs.scope == 'basic' || inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Hifi3z Unit Tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Hifi3z Unit Tests
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2020.4-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_13:0.3 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_hifi3z.sh EXTERNAL tflite-micro/

  hifi_3z_unit_tests_with_compression:
    if: inputs.scope == 'basic' || inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Hifi3z Unit Tests with Compression
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Hifi3z Unit Tests with Compression
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2020.4-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_13:0.3 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_hifi3z_with_compression.sh EXTERNAL tflite-micro/

  # --- Extended Jobs ---

  f1_unit_tests:
    if: inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Fusion F1 Unit Tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Fusion F1 Unit Tests
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2020.4-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_13:0.3 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_fusion_f1.sh EXTERNAL tflite-micro/

  vision_p6_extended:
    if: inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Vision P6 Unit Tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Vision P6 Unit Tests
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2020.4-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_13:0.3 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_vision_p6.sh RUN_TESTS tflite-micro/

  hifimini_unit_tests:
    if: inputs.scope == 'all'
    runs-on: ubuntu-latest
    name: Hifimini Unit Tests
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - run: rm -rf .git
      - name: Hifimini Unit Tests
        env:
          TFLM_BOT_TOKEN: ${{ secrets.tflm-bot-token }}
          DOCKER_RUN_ENV: --env XTENSA_TOOLS_VERSION=RI-2019.2-linux
        run: |
          tensorflow/lite/micro/tools/ci_build/docker_run_tflm.sh \
            ghcr.io/tflm-bot/xtensa_xplorer_11:0.2 \
            tensorflow/lite/micro/tools/ci_build/test_xtensa_hifimini.sh tflite-micro/
