# tests_ci_run_full.yml
# Entry point for the full test suite (Manual Debugging).
#
# - Triggered by 'ci:run_full' label only.
# - ci:run_full is ephemeral (self-removing).
# - Runs EVERYTHING: Standard Checks + Heavy Embedded Targets.

name: Tests (Full Suite)

on:
  pull_request_target:
    types:
      - labeled

jobs:
  gatekeeper:
    runs-on: ubuntu-latest
    if: github.event.label.name == 'ci:run_full'
    steps:
      - name: remove-label
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.TFLM_BOT_REPO_TOKEN }}
          script: |
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'ci:run_full'
            })

  # --- Standard Checks ---

  call-ci:
    needs: gatekeeper
    uses: ./.github/workflows/ci.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}

  call-hexagon:
    needs: gatekeeper
    uses: ./.github/workflows/hexagon.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa-presubmit:
    needs: gatekeeper
    uses: ./.github/workflows/xtensa_presubmit.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-check-tflite-files:
    needs: gatekeeper
    uses: ./.github/workflows/check_tflite_files.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
      pr-number: ${{ github.event.pull_request.number }}
      pr-body: ${{ github.event.pull_request.body }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  # --- Extended Checks ---

  call-cortex-m:
    needs: gatekeeper
    uses: ./.github/workflows/cortex_m.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-cortex-m-armclang:
    needs: gatekeeper
    uses: ./.github/workflows/cortex_m_arm_compiler.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-riscv-postmerge:
    needs: gatekeeper
    uses: ./.github/workflows/riscv_postmerge.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa-postmerge:
    needs: gatekeeper
    uses: ./.github/workflows/xtensa_postmerge.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}
