name: Test - Windows

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  bazel:
    runs-on: windows-latest
    timeout-minutes: 60
    name: Windows Bazel
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Enable symlinks
        run: git config core.symlinks true
      - uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: true
          repository-cache: true
          bazelrc: |
            startup --windows_enable_symlinks
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Select C++ Tests
        shell: bash
        run: |
          bazel cquery --config=windows_ci --keep_going '
            let scope = //tensorflow/lite/micro/... in
            let candidates = kind(cc_test, $scope) in
            $candidates except rdeps($candidates, kind(py_binary, deps($candidates)))
          ' --output=starlark --starlark:expr='str(target.label)' > cc_targets.txt || true
      - name: Test
        shell: bash
        run: |
          bazel --output_user_root="C:/tmp" --windows_enable_symlinks test --config=windows_ci --target_pattern_file=cc_targets.txt

  makefile:
    runs-on: windows-latest
    timeout-minutes: 60
    name: Windows Makefile
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            make
            patch
            mingw-w64-x86_64-gcc
            git
            python3
            mingw-w64-x86_64-python-pip
            mingw-w64-x86_64-python-pillow
            mingw-w64-x86_64-python-numpy
            mingw-w64-x86_64-python-absl-py
            openssl
            tar
            unzip
            curl
      - name: Test
        shell: msys2 {0}
        run: |
          tensorflow/lite/micro/tools/ci_build/test_x86_default.sh ./