name: Test - Makefile (x86)

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  x86_makefile_tests:
    runs-on: linux-x86-n2-16
    container:
      image: ghcr.io/tflm-bot/tflm-ci:0.6.7
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Makefile x86 Release
            script: test_x86_release.sh
          - name: Makefile x86 Default
            script: test_x86_default.sh
          - name: Makefile x86 with Compression
            script: test_x86_default_with_compression.sh
          - name: Makefile x86 Out Of Tree
            script: test_x86_out_of_tree.sh
          - name: Makefile x86 No TFLite Static Memory
            script: test_x86_no_tflite_static_memory.sh
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - name: Test
        run: |
          tensorflow/lite/micro/tools/ci_build/test_makefile.sh
          cd ..
          tflite-micro/tensorflow/lite/micro/tools/ci_build/${{ matrix.script }} tflite-micro/
