name: Test - Hosted

on:
  workflow_dispatch:
    inputs:
      trigger-sha:
        description: 'SHA to test (optional)'
        required: false
        type: string
  
jobs:
  explore-linux:
    runs-on: linux-x86-n2-16
    timeout-minutes: 60
    container:
      image: ghcr.io/tflm-bot/tflm-ci:0.6.7
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: true
          repository-cache: true
      - name: Build
        run: bazel build -k //...

  explore-windows:
    runs-on: windows-x86-n2-16
    timeout-minutes: 60
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Enable symlinks
        run: git config core.symlinks true
      - uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: false
          repository-cache: true
          bazelrc: |
            startup --windows_enable_symlinks
      - name: Build
        run: bazel --output_user_root="C:/tmp" --windows_enable_symlinks build --config=windows_ci -k "//tensorflow/lite/micro/..."

  bazel-windows:
    runs-on: windows-x86-n2-16
    timeout-minutes: 60
    name: Windows Bazel
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - uses: actions/setup-python@v6
        with:
          python-version: '3.13'
      - name: Enable symlinks
        run: git config core.symlinks true
      - uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: false
          repository-cache: true
          bazelrc: |
            startup --windows_enable_symlinks
      - name: Select C++ Tests
        shell: bash
        run: |
          # Base: Include everything.
          echo "//..." > test_patterns.txt
          # Exclude the C++ tests that depend on Python. (Running python targets is really slow)
          bazel query -k --noimplicit_deps '
            let scope = //... in
            kind(cc_test, rdeps($scope, kind("py_(binary|library)", deps($scope))))
          ' 2>/dev/null | sed 's/^/-/' >> test_patterns.txt || true
      - name: Test
        shell: bash
        run: |
          # Test C++ tests only
          bazel --output_user_root="C:/tmp" --windows_enable_symlinks test \
            --config=windows_ci --test_lang_filters=cc --target_pattern_file=test_patterns.txt

  makefile-windows:
    runs-on: windows-x86-n2-16
    timeout-minutes: 60
    name: Windows Makefile
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - uses: msys2/setup-msys2@v2
        with:
          msystem: MINGW64
          update: true
          install: >-
            make
            patch
            mingw-w64-x86_64-gcc
            git
            python3
            mingw-w64-x86_64-python-pip
            mingw-w64-x86_64-python-pillow
            mingw-w64-x86_64-python-numpy
            mingw-w64-x86_64-python-absl-py
            openssl
            tar
            unzip
            curl
      - name: Test
        shell: msys2 {0}
        run: |
          tensorflow/lite/micro/tools/ci_build/test_x86_default.sh ./
