# tests_entry.yml
# Entry point to the test suites
#
# - If neither ci:run or ci:run_full labels are on PR, fail and exit.
# - If the PR description doesn't contain 'BUG=' fail and exit.
# - If ci:run or ci:run_full label is on PR, remove label and run the test scripts.
#
# The end result is labeling ci:run or ci:run_full will run the test scripts.
# If someone tries to add a commit to the PR, the script will fail and require
# a new label to run tests again.
#
# This script runs the test scripts directly. Scheduled or manual runs use
# run_<scriptname>.yml as the entry point.

name: Tests Entry Point
on:
  pull_request_target:
    types:
      - synchronize
      - labeled

jobs:
  no-labels:
    runs-on: ubuntu-latest
    steps:
      - name: fail-without-labels
        if: github.event.action == 'labeled' &&
          !(github.event.label.name == 'ci:run' ||
            github.event.label.name == 'ci:run_full')
        run: exit 1

  ci-gatekeeper:
    runs-on: ubuntu-latest
    needs: no-labels
    steps:
      - name: fail-on-bad-synch
        if: ${{ (github.event.action == 'synchronize') && !(github.event.sender.login == 'mergify[bot]') }}
        run: exit 1

  ci-run:
    runs-on: ubuntu-latest
    needs: ci-gatekeeper
    steps:
      - name: remove-cirun
        if: github.event.action == 'labeled' &&
            github.event.label.name == 'ci:run'
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.TFLM_BOT_REPO_TOKEN }}
          script: |
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'ci:run'
            })
        continue-on-error: true

  ci-run-full:
    runs-on: ubuntu-latest
    needs: ci-run
    steps:
      - name: remove-cirun-full
        if: github.event.action == 'labeled' &&
            github.event.label.name == 'ci:run_full'
        uses: actions/github-script@v8
        with:
          github-token: ${{ secrets.TFLM_BOT_REPO_TOKEN }}
          script: |
            github.rest.issues.removeLabel({
              issue_number: context.issue.number,
              owner: context.repo.owner,
              repo: context.repo.repo,
              name: 'ci:run_full'
            })
        continue-on-error: true

  pr-has-bug:
    runs-on: ubuntu-latest
    needs: ci-run-full
    name: PR has Bug
    steps:
      - name: Check for BUG=
        if: ${{ !contains(github.event.pull_request.body, 'BUG=') }}
        run: |
          echo "PR description requires a BUG= line with issue number."
          echo "See https://testing.googleblog.com/2017/09/code-health-providing-context-with.html for additional context"
          exit 1

  call-ci:
    needs: ci-run
    uses: ./.github/workflows/ci.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}

  call-hexagon:
    needs: ci-run
    uses: ./.github/workflows/hexagon.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa-presubmit:
    needs: ci-run
    uses: ./.github/workflows/xtensa_presubmit.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-check-tflite-files:
    needs: ci-run
    uses: ./.github/workflows/check_tflite_files.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
      pr-number: ${{ github.event.pull_request.number }}
      pr-body: ${{ github.event.pull_request.body }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  # Extended tests (ci:run_full only)
  call-cortex-m:
    needs: ci-run-full
    if: github.event.action == 'labeled' && github.event.label.name == 'ci:run_full'
    uses: ./.github/workflows/cortex_m.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-cortex-m-armclang:
    needs: ci-run-full
    if: github.event.action == 'labeled' && github.event.label.name == 'ci:run_full'
    uses: ./.github/workflows/cortex_m_arm_compiler.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-riscv-postmerge:
    needs: ci-run-full
    if: github.event.action == 'labeled' && github.event.label.name == 'ci:run_full'
    uses: ./.github/workflows/riscv_postmerge.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}

  call-xtensa-postmerge:
    needs: ci-run-full
    if: github.event.action == 'labeled' && github.event.label.name == 'ci:run_full'
    uses: ./.github/workflows/xtensa_postmerge.yml
    with:
      trigger-sha: ${{ github.event.pull_request.head.sha }}
    secrets:
      tflm-bot-token: ${{ secrets.TFLM_BOT_PACKAGE_READ_TOKEN }}
