name: Test - Bazel

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  bazel_tests:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Bazel
            script: test_bazel.sh
          - name: Bazel with Compression
            script: test_bazel_with_compression.sh
          - name: Bazel msan
            script: test_bazel_msan.sh
            needs-mmap-rnd: true
          - name: Bazel with Compression [msan]
            script: test_bazel_with_compression_msan.sh
            needs-mmap-rnd: true
          - name: Bazel asan
            script: test_bazel_asan.sh
            needs-mmap-rnd: true
          - name: Bazel with Compression [asan]
            script: test_bazel_with_compression_asan.sh
            needs-mmap-rnd: true

    name: ${{ matrix.name }}
    steps:
      - uses: jlumbroso/free-disk-space@v1.3.1
        with:
          android: true
          dotnet: true
          haskell: true
          docker-images: true
          large-packages: false
          tool-cache: false
          swap-storage: false
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha }}
      - name: Test
        uses: docker://ghcr.io/tflm-bot/tflm-ci:0.6.5
        with:
          args: /bin/sh -c "git config --global --add safe.directory /github/workspace && tensorflow/lite/micro/tools/ci_build/${{ matrix.script }}"
