name: Test - Bazel

on:
  workflow_call:
    inputs:
      trigger-sha:
        required: true
        type: string

jobs:
  bazel_tests:
    runs-on: linux-x86-n2-16
    timeout-minutes: 60
    container:
      image: ghcr.io/tflm-bot/tflm-ci:0.6.7
    strategy:
      fail-fast: false
      matrix:
        include:
          - name: Bazel
            script: test_bazel.sh
          - name: Bazel with Compression
            script: test_bazel_with_compression.sh
          - name: Bazel msan
            script: test_bazel_msan.sh
          - name: Bazel with Compression [msan]
            script: test_bazel_with_compression_msan.sh
          - name: Bazel asan
            script: test_bazel_asan.sh
          - name: Bazel with Compression [asan]
            script: test_bazel_with_compression_asan.sh
    name: ${{ matrix.name }}
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - uses: bazel-contrib/setup-bazel@0.18.0
        with:
          bazelisk-cache: true
          disk-cache: true
          cache-save: ${{ github.event_name == 'push' }}
          repository-cache: true
      - name: Test
        run: tensorflow/lite/micro/tools/ci_build/${{ matrix.script }}
