name: Test - Hosted

on:
  workflow_dispatch:
    inputs:
      trigger-sha:
        description: 'SHA to test (optional)'
        required: false
        type: string
  
jobs:
  explore-linux:
    runs-on: linux-x86-n2-16
    container:
      image: ghcr.io/tflm-bot/tflm-ci:0.6.5
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - name: Build
        run: bazel build -k //...

  explore-windows:
    runs-on: windows-x86-n2-16
    steps:
      - uses: actions/checkout@v6
        with:
          ref: ${{ inputs.trigger-sha || github.ref }}
      - name: Build
        run: bazel --output_user_root="C:/tmp" --windows_enable_symlinks build -k //...
